{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{divingspot.name}}{% endblock %}
{% block content %}
{% include 'reviews/includes/divingspots_menu.html'%}
<style>
    .avatar  { width:50px; height:50px; float:left; margin-right:10px; }
  </style>
    <div class="container-fluid">
        <div class="d-block mt-3">
            <p class="section-heading m-0 fw-bold">{{divingspot.name}}</p>
        </div>
        <div class="d-block mb-1">
            {% if divingspot.score == 0 %}
                Sin puntuación
            {% else %}
                <span class="fa fa-star checked"></span>
                {{ divingspot.score|floatformat:2 }}
            {% endif %}
        </div>
        <div class="row row-cols-2">
            <div class="col">
                <img src="{{divingspot.image.url}}" class="w-100" style="border-radius: 5%;" alt="">
            </div>
            <div class="col">
                {{ divingspot.description|safe }}
            </div>
            {% if request.user.is_staff %}
                <p>
                    <a href ="{% url 'reviews:review_update' divingspot.id %}" class="btn btn-outline-primary mt-3">
                        <span class="fa fa-pencil"></span>
                    </a>
                    <a href ="{% url 'reviews:review_delete' divingspot.id %}" class="btn btn-outline-danger mt-3">
                        <span class="fa fa-trash-o"></span>
                    </a>
                </p>
            {% endif %}
        </div>
        {% if request.user.is_authenticated %}
            <div class="mt-3">
                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#commentModal">
                    Añadir valoración
                </button>
            </div>
        {% endif %}
        <p class="fw-bold mt-3">
            {% if divingspot.score == 0 %}
                Sin puntuación
            {% else %}
                <span class="fa fa-star checked"></span>
                {{ divingspot.score|floatformat:2 }}
            {% endif %}
            ·
            {{divingspot_comments_count}} valoraciones  
            
        </p>
        <!-- Comentarios -->
        <div class="row row-cols-3">
            {% for comment in divingspot_comments|slice:":6" %}
            <div class="col">
                <div class="media">
                    {% if comment.author.profile.avatar %}
                        <img class="avatar" src="{{comment.author.profile.avatar.url}}" class="img-fluid" alt="profile image">
                    {% else %}
                        <img class="avatar" src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid" alt="profile image">
                    {% endif %}
                    <div class="media-body">
                        <p class="mt-0 mb-0">{{comment.author}}</p>

                        {{ comment.created|date:"m/d/Y" }}
                        <p class="mt-0 mt-3">
                            <span class="fa fa-star checked star-btn" id="first"></span>
                            {% if  comment.score >= 2 %}
                            <span class="fa fa-star star-btn checked" id="second"></span>
                            {% else  %}
                            <span class="fa fa-star star-btn" id="second"></span>
                            {% endif %}

                            {% if  comment.score >= 3 %}
                            <span class="fa fa-star star-btn checked"></span>
                            {% else  %}
                            <span class="fa fa-star star-btn"></span>
                            {% endif %}
                            
                            {% if  comment.score >= 4 %}
                            <span class="fa fa-star star-btn checked"></span>
                            {% else  %}
                            <span class="fa fa-star star-btn"></span>
                            {% endif %}

                            {% if  comment.score == 5 %}
                            <span class="fa fa-star star-btn checked"></span>
                            {% else  %}
                            <span class="fa fa-star star-btn"></span>
                            {% endif %}
                        </p>
                        <p>
                            {{comment.content|safe|truncatechars:"50"}}
                            {% if comment.content|length > 50 %}
                            <p><a href="#" data-bs-toggle="modal" data-bs-target="#showCommentsModal">Leer más</a>
                            {% endif %}
                        </p>
                        <p>
                            {% if request.user == comment.author %}
                                <a href ="{% url 'reviews:comment_update' comment.id %}" class="btn btn-outline-primary mt-3">
                                    <span class="fa fa-pencil"></span>
                                </a>
                            {% endif %}

                            {% if request.user == comment.author or request.user.is_staff %}
                                <a href="{% url 'reviews:comment_delete' comment.id %}" class="btn btn-outline-danger mt-3">
                                    <span class="fa fa-trash-o"></span>
                                </a>
                            {% endif %}
                        </p>
                      
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>

        <!-- Si hay menos de 6 comentarios no se muestra el botón de ver valoraciones -->
        {% if divingspot_comments|length > 6 %}
            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#showCommentsModal">
                Ver todas las valoraciones ({{divingspot_comments_count}})
            </button>
        {% endif %}

        
        <!-- Modal para agregar una valoración -->
        <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModal" aria-hidden="true">
            <div class="modal-dialog">
                <form action="{% url 'reviews:review_detail' divingspot.id divingspot.name|slugify %}" method="POST">{% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="commentModal">Añadir valoración</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- <button class="fa fa-star checked star-btn" id="first"></button>
                            <button class="fa fa-star star-btn" id="second"></button>
                            <button class="fa fa-star star-btn" id="third"></button>
                            <button class="fa fa-star star-btn" id="fourth"></button>
                            <button class="fa fa-star star-btn" id="fifth"></button> -->
                            <p>{{ form.as_p }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Añadir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal para mostrar todas las valoraciones  -->
        <div class="modal fade" id="showCommentsModal" tabindex="-1" aria-labelledby="showCommentsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="showCommentsModalLabel">
                    Valoraciones ({{divingspot_comments_count}}) ·
                    {% if divingspot.score == 0 %}
                        Sin puntuación
                    {% else %}
                        <span class="fa fa-star checked"></span>
                        {{ divingspot.score|floatformat:2 }}
                    {% endif %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for comment in divingspot_comments %}
                    <div class="col">
                        <div class="media">
                            {% if comment.author.profile.avatar %}
                                <img class="avatar" src="{{comment.author.profile.avatar.url}}" class="img-fluid" alt="profile image">
                            {% else %}
                                <img class="avatar" src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid" alt="profile image">
                            {% endif %}
                            <div class="media-body">
                                <p class="mt-0 mb-0">{{comment.author}}</p>
                                    {{ comment.created|date:"m/d/Y" }}
                                <p class="mt-0 mt-3">
                                    <span class="fa fa-star checked star-btn" id="first"></span>
                                    {% if  comment.score >= 2 %}
                                    <span class="fa fa-star star-btn checked" id="second"></span>
                                    {% else  %}
                                    <span class="fa fa-star star-btn" id="second"></span>
                                    {% endif %}

                                    {% if  comment.score >= 3 %}
                                    <span class="fa fa-star star-btn checked"></span>
                                    {% else  %}
                                    <span class="fa fa-star star-btn"></span>
                                    {% endif %}
                                    
                                    {% if  comment.score >= 4 %}
                                    <span class="fa fa-star star-btn checked"></span>
                                    {% else  %}
                                    <span class="fa fa-star star-btn"></span>
                                    {% endif %}

                                    {% if  comment.score == 5 %}
                                    <span class="fa fa-star star-btn checked"></span>
                                    {% else  %}
                                    <span class="fa fa-star star-btn"></span>
                                    {% endif %}
                                </p>
                                <p>
                                    {{comment.content|safe}}
                                </p>
                                <p>
                                    {% if request.user == comment.author %}
                                        <a href ="{% url 'reviews:comment_update' comment.id %}" class="btn btn-outline-primary mt-3">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                    {% endif %}

                                    {% if request.user == comment.author or request.user.is_staff %}
                                        <a href="{% url 'reviews:comment_delete' comment.id %}" class="btn btn-outline-danger mt-3">
                                            <span class="fa fa-trash-o"></span>
                                        </a>
                                    {% endif %}
                                </p>
                            
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>
        
    </div>
    <script>
        // obtener todas las estrellas
        const one = document.getElementById('first')
        const two = document.getElementById('second')
        const three = document.getElementById('third')
        const four = document.getElementById('fourth')
        const five = document.getElementById('fifth')
        /* const form = document

        const handleStarSelect = (size) => {
            const children = form.children 
            console.log(children)
        }

        handleStarSelect(2) */

        // versión larga - a optimizar
        const handSelect = (selection) => {
            switch(selection){
                case 'first': {
                    one.classList.add('checked')
                    two.classList.remove('checked')
                    three.classList.remove('checked')
                    four.classList.remove('checked')
                    five.classList.remove('checked')
                    return
                }
                case 'second': {
                    one.classList.add('checked')
                    two.classList.add('checked')
                    three.classList.remove('checked')
                    four.classList.remove('checked')
                    five.classList.remove('checked')
                    return
                }
                case 'third': {
                    one.classList.add('checked')
                    two.classList.add('checked')
                    three.classList.add('checked')
                    four.classList.remove('checked')
                    five.classList.remove('checked')
                    return
                }
                case 'fourth': {
                    one.classList.add('checked')
                    two.classList.add('checked')
                    three.classList.add('checked')
                    four.classList.add('checked')
                    five.classList.remove('checked')
                    return
                }
                case 'fifth': {
                    one.classList.add('checked')
                    two.classList.add('checked')
                    three.classList.add('checked')
                    four.classList.add('checked')
                    five.classList.add('checked')
                    return
                }
            }
        }

    </script> 
{% endblock %}