{% extends 'core/base.html' %}
{% load static %}
{% block title %}DeepDiveReview{% endblock %}
{% block content %}
{% include 'reviews/includes/divingspots_menu.html'%}

<div class="container-fluid mb-4">
    <div class="row mt-3">
      {% for divingspot in divingspot_list|dictsort:"id" reversed %}
        <div class="col">
            <div class="card border-0" style="width: 18rem;">
                <img src="{{divingspot.image.url}}" class="card-img-top" style="border-radius: 5%;" alt="">
                <div class="card-body">
                    <div class="card-title">
                      <div class="d-inline fw-bold">{{ divingspot.name }}</div>
                      <div class="d-inline float-end">
                        {% if divingspot.score == 0 %}
                          Sin puntuación
                        {% else %}
                          <span class="fa fa-star checked"></span>
                          {{ divingspot.score }}
                        {% endif %}
                      </p>
                    </div>
                    <p class="card-text">{{ divingspot.description|safe }}</p>
                    <a href="{% url 'reviews:review' divingspot.id divingspot.name|slugify %}" class="stretched-link" 
                      style="z-index: 1;"></a>
                    <a href="{{divingspot.location}}" class="btn btn-primary position-relative" style="z-index: 2;" target="_blank">
                      Ver en Google Maps
                    </a>
                    {% if request.user.is_staff %}
                      <p>
                        <a href="{% url 'reviews:update' divingspot.id %}" class="btn btn-primary position-relative mt-3"style="z-index: 2;">
                          Editar
                        </a>
                        <a href="{% url 'reviews:delete' divingspot.id %}" class="btn btn-danger position-relative mt-3"style="z-index: 2;">
                          Borrar
                        </a>
                      </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}